<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Backbone sample app</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.5.6/backbone.marionette.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.5.6/core/backbone.marionette.js" type="text/javascript"></script>
</head>
<body>
    <div id="app-hook"></div>
    <ul></ul>
    <form>
        <label for="id_text">Todo Text</label>
        <input type="text" name="text" id="id_text" value="<%- text %>" />
        <label for="id_assignee">Assign to</label>
        <input type="text" name="assignee" id="id_assignee" value="<%- assignee %>"/>

        <button id="btn-add">Add Item</button>
    </form>
<script type="text/javascript">
    var ToDo = Marionette.LayoutView.extend({
        tagName: 'li',
        template: require('./templates/todoitem.html')
    });


    var TodoList = Marionette.CompositeView.extend({
        el: '#app-hook',
        template: require('./templates/todolist.html'),

        childView: ToDo,
        childViewContainer: 'ul',

        ui: {
            assignee: '#id_assignee',
            form: 'form',
            text: '#id_text'
        },

        triggers: {
            'submit @ui.form': 'add:todo:item'
        },

        collectionEvents: {
            add: 'itemAdded'
        },

        modelEvents: {
            change: 'render'
        },

        onAddTodoItem: function() {
            this.model.set({
                assignee: this.ui.assignee.val(),
                text: this.ui.text.val()
            });

            if (this.model.isValid()) {
                var items = this.model.pick('assignee', 'text');
                this.collection.add(items);
            }
        },

        itemAdded: function() {
            this.model.set({
                assignee: '',
                text: ''
            });
        }
    });

    var todo = new TodoList({
        collection: new Backbone.Collection([
            {assignee: 'Scott', text: 'Write a book about Marionette'},
            {assignee: 'Andrew', text: 'Do some coding'}
        ]),
        model: new ToDoModel()
    });

    todo.render();
</script>
</body>
</html>